@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

#app {
  height: 100%;
  min-height: 100vh;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #dbdbdb;
  color: $light;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div,
label,
input,
button,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3,
h4,
h5,
h6,
p,
label,
input,
textarea,
button,
a,
span {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

button,
input {
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

button,
input[type="radio"] {
  cursor: pointer;
}
