@mixin theme($background_1, $background_2) {
  background: #{$background_1};

  background: linear-gradient(
    45deg,
    #{$background_1} 0%,
    #{$background_2} 100%
  );

  background: -moz-linear-gradient(
    45deg,
    #{$background_1} 0%,
    #{$background_2} 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    #{$background_1} 0%,
    #{$background_2} 100%
  );
}

.theme {
  // height: 100%;
}

.theme--morning,
.theme--daytime {
  --bg-primary: 255, 255, 255;

  color: black;

  .c-secondary {
    color: #252424;
  }
}

.theme--morning {
  --background-1: 0, 97, 255;
  --background-2: 96, 239, 255;

  @include theme(rgb(var(--background-1)), rgb(var(--background-2)));
}

.theme--daytime {
  --background-1: 255, 147, 15;
  --background-2: 255, 249, 91;

  @include theme(rgb(var(--background-1)), rgb(var(--background-2)));
}

.theme--evening,
.theme--night {
  --bg-primary: 0, 0, 0;

  color: white;
  .c-secondary {
    color: #cfcfcf;
  }
}

.theme--evening {
  --background-1: 0, 3, 40;
  --background-2: 255, 147, 15;

  @include theme(rgb(var(--background-1)), rgb(var(--background-2)));
}

.theme--night {
  --background-1: 0, 3, 40;
  --background-2: 0, 69, 142;

  @include theme(rgb(var(--background-1)), rgb(var(--background-2)));
}
