$columns: 12;

@mixin col-x {
  @for $i from 1 through $columns {
    .col-#{$i} {
      // width: calc((100% / $columns) * $i);
      max-width: 100%;
      flex-basis: calc((100% / $columns) * $i);
    }
  }
}

@include col-x;
