.details-card {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      width: calc(100% / 3);
      min-width: 150px;
      text-align: center;

      p {
        margin-bottom: 0;
        font-weight: 600;

        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }
}
