.details-card {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    padding: 0 20px;

    li {
      display: flex;
      flex-direction: column;
      width: calc(100% / 3);
      min-width: 150px;
      text-align: center;
      padding: 20px 10px;

      &.separated {
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        margin-bottom: -2px;
        margin-top: 2px;
      }

      h3 {
        font-weight: 500;
      }

      p {
        margin-top: auto;
        margin-bottom: 0;
        font-weight: 600;
        white-space: nowrap;
      }
    }
  }
}
