.header {
  position: sticky;
  padding: 20px;
  top: 0;
  z-index: 10;

  .container {
    padding: 20px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media only screen and (min-width: 768px) {
    flex: 1;
    padding: 0;
  }
}
