.listing-single {
  &__header {
    padding: 10px 20px;

    h3 {
      margin: 0;
    }
  }

  .v-enter-active,
  .v-leave-active {
    transition: opacity 0.2s ease;
  }

  .v-enter-from,
  .v-leave-to {
    opacity: 0;
  }

  &__details {
    opacity: 1;
    padding: 20px 20px;
    background-color: $dark-lighter;
    transition: all 0.3s ease-in-out;

    &-inner {
      span {
        display: block;
      }
    }
  }
}
