.listing {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  &.listing--full-w {
    display: block;

    @media only screen and (min-width: 768px) {
      width: 100%;
    }

    .listing-single {
      width: 100%;
      margin-bottom: 20px;

      & button {
        text-align: initial;
        height: 100%;
        padding: 0;
      }
    }
  }

  .listing-single {
    display: block;

    &.listing-single--featured {
      width: 100%;
    }

    &.active {
      .listing-single__inner {
        & > button {
          background-color: rgba($dark-2, 0.4);

          //come back to his for a better approach
          .weather-summary-card__item.arrow {
            &:before {
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    &__inner {
      & > button {
        background-color: rgba($dark-2, 0.1);
        text-align: center;
        box-shadow: 1px 1px 3px -2px #000;
        border: 1px solid darken($dark, 2%);
        padding: 20px;
        display: block;
        width: 100%;
        max-width: 100%;

        &:hover {
          background-color: rgba($dark-2, 0.2);
        }
      }
    }
  }
}
