.loader {
  display: block;
  width: 30px;
  height: 30px;
  border: 5px solid $dark;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotate 0.8s ease-in infinite;

  &--light {
    border: 5px solid $light;
    border-bottom-color: transparent;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
