.notice-banner {
  position: fixed;
  top: 0;
  bottom: auto;
  width: 100%;
  right: 0;
  left: auto;
  padding: 10px 20px;
  background-color: white;
  max-width: 100%;
  font-weight: 600;
  z-index: 10;
  border: none;

  &__inner {
    align-items: flex-end;
    justify-content: center;

    p {
      padding-bottom: 10px;
    }

    @media only screen and (min-width: 500px) {
      display: flex;

      p {
        padding-right: 10px;
      }
    }
  }

  &__btn {
    padding: 5px 10px;
    color: inherit;
    border-radius: 8px;
    background-color: white;

    &:hover {
      background-color: green;
      color: white;
    }
  }
}
