.weather-summary-card {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;

  &__item {
    display: flex;
    align-items: center;

    @media only screen and (min-width: 768px) {
      flex: 1;
      flex-basis: 20%;
    }

    p {
      margin-bottom: 0;
    }

    img {
      height: 50px;
      width: 50px;
      object-fit: contain;
    }

    &.hum,
    &.wind {
      display: none;

      @media only screen and (min-width: 768px) {
        display: flex;
      }
    }

    &.hum img,
    &.wind img {
      height: 20px;
      width: 30px;
    }

    &.hum img {
      width: 20px;
    }

    &.wind {
      flex-basis: 150px;
      justify-content: space-between;
      p {
        text-wrap: nowrap;
      }
    }

    &.arrow {
      flex-basis: 50px;
      position: relative;
      justify-content: flex-end;
      align-items: center;

      &::before {
        content: url("/assets/icons/arrow.svg");
        position: relative;
        display: block;
        width: 20px;
        margin-left: auto;
      }
    }
  }
}
