.home {
  .details-card {
    margin-bottom: -30px;

    p {
      font-size: 2.2rem;
      font-weight: 600;
    }
  }
  // .listing {
  //   &:first-child {
  //     position: relative;
  //     // height: 600px;

  //     @media only screen and (min-width: 600px) {
  //       // height: 350px;
  //     }
  //   }

  //   .listing-single {
  //     position: relative;
  //     width: calc((100% / 2) - 5px);

  //     // &--featured {
  //     //   position: absolute;
  //     // }
  //   }

  //   &:last-child {
  //     gap: 10px;

  //     .listing-single {
  //       @media only screen and (min-width: 600px) {
  //         width: calc((100% - 30px) / 4);
  //       }

  //       @media only screen and (min-width: 768px) {
  //         width: calc((100% - 70px) / 8);
  //       }
  //     }
  //   }
  // }
}
