.card {
  & .card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &.pb {
    padding-bottom: 40px;
  }

  &.pt {
    padding-top: 40px;
  }

  &__inner {
    background-color: rgba(var(--bg-primary), 0.1);
    border-radius: 12px;
  }

  &--transparent {
    .card__inner {
      background-color: transparent;
    }
  }

  &--padded {
    .card__inner {
      padding: 40px 20px;
    }
  }

  &--border {
    .card__inner {
      border: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}
